<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xmlns="https://jakarta.ee/xml/ns/jakartaee" 
          xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" 
          xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" 
          id="WebApp_ID" 
          version="5.0">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- Ver Produtos -->
  <servlet>
      <servlet-name>Produtos</servlet-name>
      <servlet-class>controlador.VerProdutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Produtos</servlet-name>
      <url-pattern>/produtos</url-pattern>
  </servlet-mapping>

  <!-- Ver Clientes -->
  <servlet>
    <servlet-name>Clientes</servlet-name>
    <servlet-class>controlador.VerClienteServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Clientes</servlet-name>
    <url-pattern>/clientes</url-pattern>
</servlet-mapping>

<!-- Ver Compras -->
<servlet>
    <servlet-name>Compras</servlet-name>
    <servlet-class>controlador.VerCompraServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Compras</servlet-name>
    <url-pattern>/compras</url-pattern>
</servlet-mapping>

<!-- Ver Pagamentos -->
<servlet>
    <servlet-name>Pagamentos</servlet-name>
    <servlet-class>controlador.VerPagamentoServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>Pagamentos</servlet-name>
    <url-pattern>/pagamentos</url-pattern>
</servlet-mapping>

<!-- apaga produtos -->
<servlet>
    <servlet-name>apagaProdutos</servlet-name>
    <servlet-class>controlador.ApagarProdutoServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>apagaProdutos</servlet-name>
    <url-pattern>/produtos/delete</url-pattern>
</servlet-mapping>

<!-- apaga clientes -->
<servlet>
    <servlet-name>apagaClientes</servlet-name>
    <servlet-class>controlador.ApagarClienteServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>apagaClientes</servlet-name>
    <url-pattern>/clientes/delete</url-pattern>
</servlet-mapping>

<!-- apaga pagamentos -->
<servlet>
    <servlet-name>apagaPagamentos</servlet-name>
    <servlet-class>controlador.ApagarPagamentoServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>apagaPagamentos</servlet-name>
    <url-pattern>/pagamentos/delete</url-pattern>
</servlet-mapping>

<!-- apaga compras -->
<servlet>
    <servlet-name>apagaCompras</servlet-name>
    <servlet-class>controlador.ApagarCompraServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>apagaCompras</servlet-name>
    <url-pattern>/compras/delete</url-pattern>
</servlet-mapping>
  </web-app>